hstwb-installer-settings.ini
hstwb-installer-assigns.ini
*.msi
hstwb-installer*.zip
*.wixpdb
*.wixobj
*.wxs
*.log
*.pyc
*.dmg
.DS_Store
!hstwb-installer.wxs
/packages/
.output
/application/python/build
/application/python/dist
