hstwb-installer-settings.ini
hstwb-installer-assigns.ini
*.msi
hstwb-installer*.zip
*.wixpdb
*.wixobj
*.wxs
*.log
!hstwb-installer.wxs
!hstwb-installer_packages.wxs
/packages/
/.output/
/.release/