<?xml version="1.0"?>
<Wix 
  xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" UpgradeCode="b38231ed-9ea6-41fd-8cc3-2893dea5dfce" Name="HstWB Installer" Version="$(var.Version)" Manufacturer="Henrik Noerfjand Stengaard" Language="1033">
    <Package InstallerVersion="300" Compressed="yes" Comments="Windows Installer Package"/>
    <Media Id="1" Cabinet="hstwbinstaller.cab" EmbedCab="yes"/>
    <Icon Id="hstwb_installer.ico" SourceFile="hstwb_installer.ico"/>
    <Upgrade Id="b38231ed-9ea6-41fd-8cc3-2893dea5dfce">
      <UpgradeVersion Minimum="1.0.0" IncludeMinimum="yes" OnlyDetect="no" Maximum="$(var.Version)" IncludeMaximum="no" Property="PREVIOUSFOUND" />
    </Upgrade>
    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of [ProductName] is already installed. If you are sure you want to downgrade, remove the existing installation via Programs and Features." />
    <Property Id="POWERSHELLEXE">
      <RegistrySearch Id="POWERSHELLEXE"
                      Type="raw"
                      Root="HKLM"
                      Key="SOFTWARE\Microsoft\PowerShell\1\ShellIds\Microsoft.PowerShell"
                      Name="Path" />
    </Property>
    <Condition Message="This application requires Windows PowerShell.">
      <![CDATA[Installed OR POWERSHELLEXE]]>
    </Condition>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="LocalAppDataFolder">
        <Directory Id="ApplicationDataDirectory" Name="HstWB Installer"/></Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationStartMenuDirectory" Name="HstWB Installer"/></Directory>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="HstWB Installer"></Directory>
      </Directory>
    </Directory>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="AmigaComponentDir"/>
      <Directory Id="FontsComponentDir"/>
      <Directory Id="FsUaeComponentDir"/>
      <Directory Id="ImagesComponentDir"/>
      <Directory Id="KickstartComponentDir"/>
      <Directory Id="LicensesComponentDir"/>
      <Directory Id="ModulesComponentDir"/>
      <Directory Id="PackagesComponentDir"/>
      <Directory Id="ReadmeComponentDir"/>
      <Directory Id="ScriptsComponentDir"/>
      <Directory Id="SupportComponentDir"/>
      <Directory Id="WinuaeComponentDir"/>
      <Directory Id="WorkbenchComponentDir"/>
      <Component Id="ApplicationFiles" Guid="899fd841-1dc6-432f-8390-08ba26e90acc">
        <File Id="launcher.cmd" Source="..\launcher.cmd"/>
        <File Id="launcher.ps1" Source="..\launcher.ps1"/>
        <File Id="run.cmd" Source="..\run.cmd"/>
        <File Id="run.ps1" Source="..\run.ps1"/>
        <File Id="setup.cmd" Source="..\setup.cmd"/>
        <File Id="setup.ps1" Source="..\setup.ps1"/>
        <File Id="SilentCMD.exe" Source="SilentCMD.exe"/>
        <File Id="SilentCMD.exe.config" Source="SilentCMD.exe.config"/>
        <File Id="license.txt" Source="..\LICENSE.txt"/>
        <File Id="hstwb_installer.ico" Source="hstwb_installer.ico"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ApplicationStartMenuDirectory">
      <Component Id="ApplicationShortcuts" Guid="2d653bc1-71ac-42af-ae4d-69795f4dd428">
        <Shortcut Id="ApplicationLauncherShortcut" Name="HstWB Installer" Target="[#SilentCMD.exe]" Arguments="launcher.cmd" WorkingDirectory="INSTALLDIR" Icon="hstwb_installer.ico" />
        <Shortcut Id="ApplicationUninstallShortcut" Name="Uninstall HstWB Installer" Directory="ApplicationStartMenuDirectory" Target="[SystemFolder]msiexec.exe" Arguments="/x [ProductCode]"/>
        <RemoveFolder Id="RemoveApplicationDataDirectory" Directory="ApplicationDataDirectory" On="uninstall"/>
        <RemoveFolder Id="RemoveApplicationStartMenuDirectory" Directory="ApplicationStartMenuDirectory" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Henrik Noerfjand Stengaard\HstWB Installer" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    <Feature Id="MainApplication" Title="Main Application" Level="1" Display="expand" ConfigurableDirectory='INSTALLDIR' TypicalDefault="install">
      <ComponentRef Id="ApplicationFiles"/>
      <ComponentRef Id="ApplicationShortcuts"/>
      <ComponentGroupRef Id="AmigaComponentGroup"/>
      <ComponentGroupRef Id="FontsComponentGroup"/>
      <ComponentGroupRef Id="FsUaeComponentGroup"/>
      <ComponentGroupRef Id="KickstartComponentGroup"/>
      <ComponentGroupRef Id="LicensesComponentGroup"/>
      <ComponentGroupRef Id="ModulesComponentGroup"/>
      <ComponentGroupRef Id="ReadmeComponentGroup"/>
      <ComponentGroupRef Id="ScriptsComponentGroup"/>
      <ComponentGroupRef Id="SupportComponentGroup"/>
      <ComponentGroupRef Id="WinuaeComponentGroup"/>
      <ComponentGroupRef Id="WorkbenchComponentGroup"/>
      <Feature Id="Images" Title="Images" Level="1">
        <ComponentGroupRef Id="ImagesComponentGroup"/>
      </Feature>
      <Feature Id="Packages" Title="Packages" Level="1">
        <ComponentGroupRef Id="PackagesComponentGroup"/>
      </Feature>
    </Feature>
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    <!--WixVariable Id="WixUIBannerBmp" Value="bmp" /-->
    <!-- 493 X 58 -->
    <!--WixVariable Id="WixUIDialogBmp" Value="bmp" /-->
    <!-- 493 X 312 -->
    <Property Id="ARPPRODUCTICON" Value="hstwb_installer.ico" />
    <Property Id="WixAppFolder" Value="WixPerUserFolder" />
    <UIRef Id="WixUI_Mondo" />
  </Product>
</Wix>