<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="KickstartComponentDir">
            <Directory Id="dir64F5DAD7961B671B8B3774C5F9B23785" Name="kickstart">
                <Component Id="cmp0B2FFE3199A8ADE413848D14C057D321" Guid="83A8D53E-8A64-4162-8845-99C0B779756D">
                    <File Id="fil3C6FF95E8917C2954E1A7073C8D3C367" KeyPath="yes" Source="$(var.KickstartDir)\kickstart-rom-hashes.csv" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="KickstartComponentGroup">
            <ComponentRef Id="cmp0B2FFE3199A8ADE413848D14C057D321" />
        </ComponentGroup>
    </Fragment>
</Wix>