<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="LicensesComponentDir">
            <Directory Id="dirA0E32CB54D10470B397521C5C88F988B" Name="licenses">
                <Component Id="cmpA675C7EC776A3A3172ED2076614ADECA" Guid="CCC1E006-62DF-4474-AAB9-9F9B84C550B1">
                    <File Id="fil8B0B14EA8584F6239051E27E9F5A5A03" KeyPath="yes" Source="$(var.LicensesDir)\LoadModule.lha" />
                </Component>
                <Component Id="cmpF7CC594C7804051A0BC838FAAC2EFC86" Guid="DE17EFE8-6BD0-418B-B39E-E09AF605970A">
                    <File Id="filBD68457E72B0443D5AF0017F5F780C59" KeyPath="yes" Source="$(var.LicensesDir)\UAEquit.lha" />
                </Component>
                <Component Id="cmp8C163EA07330E6604AB8D7AA84F01B29" Guid="A7926382-FE65-4F8B-A306-AD761CFFECDA">
                    <File Id="fil84D719D291AC1A5D6A67F726E5243F68" KeyPath="yes" Source="$(var.LicensesDir)\UAEquit.readme" />
                </Component>
                <Component Id="cmpDA01E32FAD9E25C17849D9024086415F" Guid="744AA8C6-F62A-43B6-8083-00BFECA6A519">
                    <File Id="fil1757E588DBDC2B3AE0B7C1102FE66A89" KeyPath="yes" Source="$(var.LicensesDir)\UnADF.lha" />
                </Component>
                <Component Id="cmp340A6B75C40340DDC6DE8618F935FF85" Guid="7D58A079-D28D-4AE6-AD4D-0065C6A32095">
                    <File Id="filEC31F7B06C6E9F6317AAFFD5C7F56B7F" KeyPath="yes" Source="$(var.LicensesDir)\unz550xA.lha" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="LicensesComponentGroup">
            <ComponentRef Id="cmpA675C7EC776A3A3172ED2076614ADECA" />
            <ComponentRef Id="cmpF7CC594C7804051A0BC838FAAC2EFC86" />
            <ComponentRef Id="cmp8C163EA07330E6604AB8D7AA84F01B29" />
            <ComponentRef Id="cmpDA01E32FAD9E25C17849D9024086415F" />
            <ComponentRef Id="cmp340A6B75C40340DDC6DE8618F935FF85" />
        </ComponentGroup>
    </Fragment>
</Wix>