<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="WinuaeComponentDir">
            <Directory Id="dirAD8481BCF19A926DCF6073D619D0A606" Name="winuae">
                <Component Id="cmpAEE92B0DA97DF3DA71816B3A73405119" Guid="9A2A482D-BBCB-4777-A8BB-5A3B18E75DFF">
                    <File Id="filB1E6BA11DCADFE87CAC9F8D76CBC42B9" KeyPath="yes" Source="$(var.WinuaeDir)\install.uae" />
                </Component>
                <Component Id="cmpB147E80F1975A52BCC5201F979C4D661" Guid="51FB400B-A01F-4628-92E2-E2EAFC5DE6E8">
                    <File Id="fil3193E156B4F7D69617821AB5D081485D" KeyPath="yes" Source="$(var.WinuaeDir)\test.uae" />
                </Component>
                <Directory Id="dir0A443B5EEC44301776D371CF02443A33" Name="install">
                    <Directory Id="dirB3257035E365BF95E83DC37E2A18CE3A" Name="C">
                        <Component Id="cmp7D747681B71262EDB5095D1FA4A8AE15" Guid="1812CBF3-6ECB-4C0C-8721-CB5A90A95478">
                            <File Id="filF3E270F47361765BBF2E66BE705FAFD7" KeyPath="yes" Source="$(var.WinuaeDir)\install\C\LoadModule" />
                        </Component>
                        <Component Id="cmp505EA87E2058778BAEC994EC997DA4BA" Guid="20B74B77-E4D9-4658-8C85-E08CB3F365F8">
                            <File Id="filC98C31F8AB1AC029C6D2EAE3A549A8EA" KeyPath="yes" Source="$(var.WinuaeDir)\install\C\UAEquit" />
                        </Component>
                        <Component Id="cmp3BE2C0F5BFE6F8038CD48072CB96448E" Guid="C6854637-E7CF-4901-AF13-373D11402B64">
                            <File Id="fil27F8F764C2E3DA4C8DD45E5AB8D7DD4F" KeyPath="yes" Source="$(var.WinuaeDir)\install\C\UnADF" />
                        </Component>
                        <Component Id="cmpEE7E2FF5E0F8309CF3910E4E29FED501" Guid="54B28F56-A76E-4323-9EEB-8BBA22E7FC80">
                            <File Id="fil06624CD5E39910327D913BC7A635E7B1" KeyPath="yes" Source="$(var.WinuaeDir)\install\C\UnZip" />
                        </Component>
                    </Directory>
                    <Directory Id="dir926C8C8BFAE8D5BC9E999D8E39EDD12E" Name="S">
                        <Component Id="cmp009A87B58B4983ABBD43C11BD4E4259B" Guid="90F90025-8B0D-4D8E-9E27-F47B4670CD0C">
                            <File Id="fil246CB9B696D03E602A7906A00C6B6181" KeyPath="yes" Source="$(var.WinuaeDir)\install\S\Install-Kickstart" />
                        </Component>
                        <Component Id="cmpDEA0C57AE5FD804A336C031F85CF7E20" Guid="5F34A3FC-C233-4D51-98D5-3BB666724799">
                            <File Id="fil936BCF38D4E20EF47A9920BA5E0FAC22" KeyPath="yes" Source="$(var.WinuaeDir)\install\S\Install-Workbench" />
                        </Component>
                        <Component Id="cmpD92A55DD2BFD828723F35966519AB6FD" Guid="8276B2CD-30F8-458C-9C10-0CE8EAB74558">
                            <File Id="fil3D5BEB04EF6997483B01074D1538E612" KeyPath="yes" Source="$(var.WinuaeDir)\install\S\Startup-Sequence" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="WinuaeComponentGroup">
            <ComponentRef Id="cmpAEE92B0DA97DF3DA71816B3A73405119" />
            <ComponentRef Id="cmpB147E80F1975A52BCC5201F979C4D661" />
            <ComponentRef Id="cmp7D747681B71262EDB5095D1FA4A8AE15" />
            <ComponentRef Id="cmp505EA87E2058778BAEC994EC997DA4BA" />
            <ComponentRef Id="cmp3BE2C0F5BFE6F8038CD48072CB96448E" />
            <ComponentRef Id="cmpEE7E2FF5E0F8309CF3910E4E29FED501" />
            <ComponentRef Id="cmp009A87B58B4983ABBD43C11BD4E4259B" />
            <ComponentRef Id="cmpDEA0C57AE5FD804A336C031F85CF7E20" />
            <ComponentRef Id="cmpD92A55DD2BFD828723F35966519AB6FD" />
        </ComponentGroup>
    </Fragment>
</Wix>