<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="WorkbenchComponentDir">
            <Directory Id="dirE93F213EFCCF9076B52794D44BF91699" Name="workbench">
                <Component Id="cmpF9C519F1DA7CC7BDE0FDC83BA6D01CD8" Guid="C82D6F9F-A9C1-4BE3-957B-03A553247729">
                    <File Id="fil138910D72162A6F81D45E8072CCF76BB" KeyPath="yes" Source="$(var.WorkbenchDir)\workbench-adf-hashes.csv" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="WorkbenchComponentGroup">
            <ComponentRef Id="cmpF9C519F1DA7CC7BDE0FDC83BA6D01CD8" />
        </ComponentGroup>
    </Fragment>
</Wix>