[Desktop Entry]
Type=Application
Terminal=true
Icon=
Name=Build Install Entries
Exec=bash -c 'cd "$(dirname "$1")" && python build_install_entries.py "."; read -r -p "Press any key to continue..." key' dummy %k
Categories=Utility;
